<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Estilo Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <!--h2>Hello [[prop1]]!</h2-->
    <div class="row">
      <h2 class="col-md-12">Login Usuario</h1>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}">
    <input type="password" placeholder="Password" value="{{password::input}}">
    <button class="btn-success" on-click="login">Login</button>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() {
        return 'login-usuario';
      }
      static get properties() {
        return {
          email:{
            Type: String
          }, password:{
            Type: String
          }
        };
      }

      /* función manejadora del botón LOGIN*/
      login(){
        console.log("El usuario ha pulsado el botón");

        /* Objeto para simplificar el stringify*/
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        /** $: nos permite acceder a elementos de Shadow dropdown-item
        accedemos así al id del elemento iron-ajax para acceder a sus atributos
        en este caso el body (lo tiene por ser una petición POST)
         convertimos el objeto javacript a JSON*/
        this.$.doLogin.body = JSON.stringify(loginData);
        /* lanzamos la petición*/
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      manageAJAXResponse(data){
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        window.location = "/user/" + data.retail.response.idUsuario;
      }
  }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
