<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Estilo Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Sus Cuentas</h1>
    <template is="dom-repeat" items="{{accounts}}">
        <h3> - IBAN: {{item.IBAN}}</h2>
        <h3>Saldo: {{item.balance}} {{item.Currency}}</h2>
        </br>
    </template>
    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElementuserId
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid:{
            Type: Number
          },
          IBAN:{
            Type: String
          },
          balance:{
            Type: Number
          },
          accounts:{
            Type: Array
          }
        };
      }

    showData (data){
      console.log("Recibidos datos del usuario" + data.detail.response);
      this.accounts = data.detail.response;
    }
  }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
